<div class="columns">
  <div class="column">
    <p class="bd-notification">Welcome</p>
    <div class="columns is-mobile">
      <div class="column is-one-quarter">
        <div class="menu">
          <p class="menu-label">
            User Poral
          </p>
          <ul class="menu-list">
            <li><a>My Stories</a></li>
            <li><a>Favorites</a></li>
            <li><a>Drafts</a></li>
            <li><a>Recommended</a></li>
          </ul>
        </div>
      </div>
      <div class="column is-three-quarters">
        <div class="hero-body">
          <p class="title">
            {{stories.[0].title}}
          </p>
          <p class="subtitle">
            {{stories.[0].user.name}}
          </p>
          <div class="card">
            <header class="$card-header">
              <p class="card-header-title">
                {Category}
              </p>
            </header>
            <hr>
            <div class="card-content">
              <div class="content">
                {{stories.[0].content}}
              </div>
            </div>
            <footer class="card-footer">
              <a href="/storyview" class="card-footer-item">Select</a>
              <a href="#" class="card-footer-item">Favorite</a>
            </footer>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>