<div class="columns">
  <div class="column">
    <p class="bd-notification"><strong>outWrite</strong></p>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          
          <img src="./images/ow.png">
          
        </article>
        <article class="tile is-child notification is-warning">
          <h1 style="color:DodgerBlue;"><strong>"Be who you are and say what you feel, because those who mind don’t matter, and those who matter don’t mind."</strong></h1>
          
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">“Read a thousand books, and your words will flow like a river.” </p>
          {{!-- <p class="subtitle">“Read a thousand books, and your words will flow like a river.”</p> --}}
          <figure class="image is-4by3">
            <img src="./images/outwrite2.jpg">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
          <p class="title">"I get a lot of letters from people. They say, "I want to be a writer. What should I do?" I tell them to stop writing to me and get on with it."</p>
        <p class="subtitle">- - Ruth Rendell</p>
        
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
         <figure class="image is-4by3">
            <img src="./images/owt.jpg">
          </figure>
        <p class="title">"If there's a book that you want to read, but it hasn't been written yet, then you must write it."</p>
        <p class="subtitle">- Toni Morrison</p>
           <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>