<div class="columns">
  <div class="column">
    <p class="bd-notification">Welcome</p>
    <div class="columns is-mobile">
      <div class="column is-one-quarter">
        <div class="menu">
          <p class="menu-label">
            User Poral
          </p>
          <ul class="menu-list">
            <li><a>My Stories</a></li>
            <li><a>Favorites</a></li>
            <li><a>Drafts</a></li>
            <li><a>Recommended</a></li>
          </ul>
        </div>
      </div>
      <div class="column is-three-quarters">
        <div class="hero-body">
          <p class="title">
            Story Title
          </p>
          <p class="subtitle">
            Username
          </p>
          <div class="card">
            <header class="$card-header">
              <p class="card-header-title">
                Category
              </p>
            </header>
            <hr>
            <div class="card-content">
              <div class="content">
                Godzilla is really good? That would be my opinion. I also like that the monster is more humanistic on
                the surface. It makes him think more deeply than I ever do, instead of putting into words the horrors of
                the Apocalypse. But it also makes him feel better about himself, which makes him feel more alive. And
                when he dies, it looks just as good, like he's on the move, his life back up at his feet. The feeling of
                that death is so incredibly beautiful. I would say that this is going to be an incredibly important and
                emotional and touching story to read.
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Read</a>
              <a href="#" class="card-footer-item">Add</a>
              <a href="#" class="card-footer-item">Favorite</a>
            </footer>
          </div>
        </div>
        <div class="hero-body">
          <p class="title">
            Story Title
          </p>
          <p class="subtitle">
            Username
          </p>
          <div class="card">
            <header class="$card-header">
              <p class="card-header-title">
                Category
              </p>
            </header>
            <hr>
            <div class="card-content">
              <div class="content">
                Godzilla is really good? That would be my opinion. I also like that the monster is more humanistic on
                the surface. It makes him think more deeply than I ever do, instead of putting into words the horrors of
                the Apocalypse. But it also makes him feel better about himself, which makes him feel more alive. And
                when he dies, it looks just as good, like he's on the move, his life back up at his feet. The feeling of
                that death is so incredibly beautiful. I would say that this is going to be an incredibly important and
                emotional and touching story to read.
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Read</a>
              <a href="#" class="card-footer-item">Add</a>
              <a href="#" class="card-footer-item">Favorite</a>
            </footer>
          </div>
        </div>
        <div class="hero-body">
          <p class="title">
            Story Title
          </p>
          <p class="subtitle">
            Username
          </p>
          <div class="card">
            <header class="$card-header">
              <p class="card-header-title">
                Category
              </p>
            </header>
            <hr>
            <div class="card-content">
              <div class="content">
                Godzilla is really good? That would be my opinion. I also like that the monster is more humanistic on
                the surface. It makes him think more deeply than I ever do, instead of putting into words the horrors of
                the Apocalypse. But it also makes him feel better about himself, which makes him feel more alive. And
                when he dies, it looks just as good, like he's on the move, his life back up at his feet. The feeling of
                that death is so incredibly beautiful. I would say that this is going to be an incredibly important and
                emotional and touching story to read.
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Read</a>
              <a href="#" class="card-footer-item">Add</a>
              <a href="#" class="card-footer-item">Favorite</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>