<div class="row">
  <div class="col-auto">
    <h2><strong>Welcome, {{name}}!</strong></h2>
  </div>
</div>
<figure class="image is-96x96">
  <img class="is-rounded" src="./images/outwrite2.jpg">
</figure>
<figure class="image is-166x166">
  <img class="is-rounded" src="./images/outwrite3.jpg">
</figure>