<main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    <div class="columns">
        <div class="column">
            <p class="bd-notification">Welcome</p>
            <div class="columns is-mobile">
                <div class="column is-one-quarter">
                    <div class="menu">
                        <p class="menu-label">
                            User Poral
                        </p>
                        <ul class="menu-list">
                            <li><a>My Stories</a></li>
                            <li><a>Favorites</a></li>
                            <li><a>Drafts</a></li>
                            <li><a>Recommended</a></li>
                        </ul>
                    </div>
                </div>
                <div class="column is-three-quarters">
                    <div class="hero-body">
                        <p class="title">
                        <div class="field">
                            <label class="label">Story Title</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Text input">
                                <p class="help">usernameß</p>
                            </div>
                        </div>
                        </p>
                        <div class="card">
                            <header class="card-content">
                                <p class="card-header-title">
                                    Category
                                </p>
                                <input class="input" type="text" placeholder="Text input">
                            </header>
                            <hr>
                            <div class="card-content">
                                <div class="content">
                                    <p class="card-header-title">
                                        Prompt
                                    </p>
                                    <textarea class="textarea" placeholder="Enter text here or generate random text"
                                        rows="10"></textarea>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="" class="card-footer-item">User Quote</a>
                                <a href="/storypage" class="card-footer-item">Random Quote</a>
                                <a href="#" class="card-footer-item">Random Text</a>
                            </footer>

                        </div>
                                                    <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link">Submit</button>
                                </div>
                            </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>